.card {
  cursor: pointer;
  margin-top: 32px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 350px;
  padding: 20px;
  text-align: center;
  position: relative;
  border: 2px solid #212121;
  transition: transform 0.3s ease;
  transition: all ease 0.5s;
}

.card:hover {
  transform: translateY(-7px);
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto 15px;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  transition: all ease 0.5s;
}

.avatar img:hover {
  scale: 1.05;
}

.username {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.name {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.followers,
.following {
  font-size: 14px;
  color: #888;
}

.follow-info {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
