@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Poppins&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');

body {
    font-family: "Poppins", sans-serif;
}